<a href="https://colab.research.google.com/github/jamalamro25/CMP7005_PRAC1_Jamalamro/blob/main/CMP7005_PRAC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Part 1 - Data Hanlding

1.1 Import data

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
%cd '/content/drive/MyDrive/Programming for Data Analysis/Assigment/Assessment Data-20251028'

/content/drive/MyDrive/Programming for Data Analysis/Assigment/Assessment Data-20251028

In [4]:
%ls

Ahmedabad_data.csv       Chennai_data.csv     Kochi_data.csv
Aizawl_data.csv          Coimbatore_data.csv  Kolkata_data.csv
all_cities_combined.csv  Delhi_data.csv       Lucknow_data.csv
Amaravati_data.csv       Ernakulam_data.csv   Mumbai_data.csv
Amritsar_data.csv        Gurugram_data.csv    Patna_data.csv
Bengaluru_data.csv       Guwahati_data.csv    Shillong_data.csv
Bhopal_data.csv          Hyderabad_data.csv   Talcher_data.csv
Brajrajnagar_data.csv    Jaipur_data.csv      Thiruvananthapuram_data.csv
Chandigarh_data.csv      Jorapokhar_data.csv  Visakhapatnam_data.csv

1.2 import Python libraries

In [3]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1.3 combine the csv files into one dataset

In [4]:
drive_path = '/content/drive/MyDrive/Programming for Data Analysis/Assigment/Assessment Data-20251028'

In [19]:
dataframes = []
for filename in os.listdir(drive_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(drive_path, filename)
        df_temp = pd.read_csv(os.path.join(drive_path, filename))
        dataframes.append(df_temp)

In [20]:
df = pd.concat(dataframes, ignore_index=True)

In [21]:
print("Merged data shape:", df.shape)

Merged data shape: (59062, 16)

1.4 Understanding the dataset

In [22]:
df.shape

(59062, 16)

In [31]:
df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,49866.000000,36782.000000,51898.000000,51892.000000,50692.000000,38406.000000,54944.000000,51354.000000,51018.000000,47816.000000,42980.000000,22844.000000,49700.000000
mean,67.450578,118.127103,17.574730,28.560659,32.309123,23.483476,2.248598,14.531977,34.491430,3.280840,8.700972,3.070128,166.463581
std,64.660801,90.603878,22.785627,24.474510,31.645699,25.683941,6.962821,18.133598,21.694716,15.810971,19.968931,6.323109,140.695170
min,0.040000,0.010000,0.020000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,13.000000
25%,28.820000,56.252500,5.630000,11.750000,12.820000,8.580000,0.510000,5.670000,18.860000,0.120000,0.600000,0.140000,81.000000
50%,48.570000,95.680000,9.890000,21.690000,23.520000,15.850000,0.890000,9.160000,30.840000,1.070000,2.970000,0.980000,118.000000
75%,80.590000,149.747500,19.950000,37.620000,40.130000,30.020000,1.450000,15.220000,45.570000,3.080000,9.150000,3.350000,208.000000
max,949.990000,1000.000000,390.680000,362.210000,467.630000,352.890000,175.810000,193.860000,257.730000,455.030000,454.850000,170.370000,2049.000000

In [24]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Delhi,01/01/2015,313.22,607.98,69.16,36.39,110.59,33.85,15.20,9.25,41.68,14.36,24.86,9.84,472.0,Severe
1,Delhi,02/01/2015,186.18,269.55,62.09,32.87,88.14,31.83,9.54,6.65,29.97,10.55,20.09,4.29,454.0,Severe
2,Delhi,03/01/2015,87.18,131.90,25.73,30.31,47.95,69.55,10.61,2.65,19.71,3.91,10.23,1.99,143.0,Moderate
3,Delhi,04/01/2015,151.84,241.84,25.01,36.91,48.62,130.36,11.54,4.63,25.36,4.26,9.71,3.34,319.0,Very Poor
4,Delhi,05/01/2015,146.60,219.13,14.01,34.92,38.25,122.88,9.20,3.33,23.20,2.80,6.21,2.96,325.0,Very Poor

In [25]:
df.tail()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
59057,Chennai,27/06/2020,26.42,39.30,7.25,12.96,19.59,33.20,1.10,7.29,68.51,0.10,0.07,NaN,95.0,Satisfactory
59058,Chennai,28/06/2020,25.93,45.54,7.81,10.00,16.39,35.98,0.76,6.48,77.45,0.09,0.00,NaN,98.0,Satisfactory
59059,Chennai,29/06/2020,21.30,22.21,7.65,9.69,16.74,34.07,0.96,6.62,62.57,0.09,0.01,NaN,104.0,Moderate
59060,Chennai,30/06/2020,24.14,30.66,8.42,12.38,20.29,34.17,1.05,7.50,68.75,0.17,0.16,NaN,110.0,Moderate
59061,Chennai,01/07/2020,15.95,4.85,6.22,10.72,16.44,33.52,1.02,9.23,48.37,0.09,0.00,NaN,92.0,Satisfactory

In [27]:
df.dtypes

City           object
Date           object
PM2.5         float64
PM10          float64
NO            float64
NO2           float64
NOx           float64
NH3           float64
CO            float64
SO2           float64
O3            float64
Benzene       float64
Toluene       float64
Xylene        float64
AQI           float64
AQI_Bucket     object
dtype: object

In [28]:
df.columns

Index(['City', 'Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2',
       'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59062 entries, 0 to 59061
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        59062 non-null  object
 1   Date        59062 non-null  object
 2   PM2.5       49866 non-null  float64
 3   PM10        36782 non-null  float64
 4   NO          51898 non-null  float64
 5   NO2         51892 non-null  float64
 6   NOx         50692 non-null  float64
 7   NH3         38406 non-null  float64
 8   CO          54944 non-null  float64
 9   SO2         51354 non-null  float64
 10  O3          51018 non-null  float64
 11  Benzene     47816 non-null  float64
 12  Toluene     42980 non-null  float64
 13  Xylene      22844 non-null  float64
 14  AQI         49700 non-null  float64
 15  AQI_Bucket  49700 non-null  object
dtypes: float64(13), object(3)
memory usage: 7.2+ MB

In [32]:
df.isnull().sum()

City              0
Date              0
PM2.5          9196
PM10          22280
NO             7164
NO2            7170
NOx            8370
NH3           20656
CO             4118
SO2            7708
O3             8044
Benzene       11246
Toluene       16082
Xylene        36218
AQI            9362
AQI_Bucket     9362
dtype: int64

In [33]:
df.duplicated().sum()

np.int64(29531)

In [39]:
from google.colab import files
df.to_csv('df_clean.csv', index=False)
files.download('df_clean.csv')

1.5 Data Cleaning