<a href="https://colab.research.google.com/github/jamalamro25/CMP7005_PRAC1_Jamalamro/blob/main/Final_Assignment_CMP7005_PRAC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Part 1 - Data Hanlding

1.1 Import data

In [182]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [183]:
%cd '/content/drive/MyDrive/Programming for Data Analysis/Assigment/Assessment Data-20251028'

/content/drive/MyDrive/Programming for Data Analysis/Assigment/Assessment Data-20251028

In [184]:
%ls

Ahmedabad_data.csv     Coimbatore_data.csv  Kolkata_data.csv
Aizawl_data.csv        Delhi_data.csv       Lucknow_data.csv
Amaravati_data.csv     Ernakulam_data.csv   Mumbai_data.csv
Amritsar_data.csv      Gurugram_data.csv    Patna_data.csv
Bengaluru_data.csv     Guwahati_data.csv    Shillong_data.csv
Bhopal_data.csv        Hyderabad_data.csv   Talcher_data.csv
Brajrajnagar_data.csv  Jaipur_data.csv      Thiruvananthapuram_data.csv
Chandigarh_data.csv    Jorapokhar_data.csv  Visakhapatnam_data.csv
Chennai_data.csv       Kochi_data.csv

1.2 import Python libraries

In [185]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1.3 combine the csv files into one dataset

In [186]:
drive_path = '/content/drive/MyDrive/Programming for Data Analysis/Assigment/Assessment Data-20251028'
out_dir = '/content/drive/MyDrive/Programming for Data Analysis/Assigment/processed'

In [187]:
dataframes = []
for filename in os.listdir(drive_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(drive_path, filename)
        df_temp = pd.read_csv(os.path.join(drive_path, filename))
        dataframes.append(df_temp)

In [188]:
df = pd.concat(dataframes, ignore_index=True)

In [189]:
print("Merged data shape:", df.shape)

Merged data shape: (29531, 16)

1.4 Understanding the dataset

In [190]:
df.shape

(29531, 16)

In [191]:
df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,24933.000000,18391.000000,25949.000000,25946.000000,25346.000000,19203.000000,27472.000000,25677.000000,25509.000000,23908.000000,21490.000000,11422.000000,24850.000000
mean,67.450578,118.127103,17.574730,28.560659,32.309123,23.483476,2.248598,14.531977,34.491430,3.280840,8.700972,3.070128,166.463581
std,64.661449,90.605110,22.785846,24.474746,31.646011,25.684275,6.962884,18.133775,21.694928,15.811136,19.969164,6.323247,140.696585
min,0.040000,0.010000,0.020000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,13.000000
25%,28.820000,56.255000,5.630000,11.750000,12.820000,8.580000,0.510000,5.670000,18.860000,0.120000,0.600000,0.140000,81.000000
50%,48.570000,95.680000,9.890000,21.690000,23.520000,15.850000,0.890000,9.160000,30.840000,1.070000,2.970000,0.980000,118.000000
75%,80.590000,149.745000,19.950000,37.620000,40.127500,30.020000,1.450000,15.220000,45.570000,3.080000,9.150000,3.350000,208.000000
max,949.990000,1000.000000,390.680000,362.210000,467.630000,352.890000,175.810000,193.860000,257.730000,455.030000,454.850000,170.370000,2049.000000

In [192]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Lucknow,01/01/2015,NaN,NaN,2.11,13.46,4.57,NaN,12.15,169.57,25.92,1.35,3.93,NaN,NaN,NaN
1,Lucknow,02/01/2015,NaN,NaN,2.37,10.76,3.80,NaN,14.00,169.46,21.66,1.97,5.74,NaN,NaN,NaN
2,Lucknow,03/01/2015,NaN,NaN,2.27,12.43,4.22,NaN,12.78,169.77,22.40,1.83,4.76,NaN,NaN,NaN
3,Lucknow,04/01/2015,NaN,NaN,2.24,12.46,4.22,NaN,11.85,169.56,21.41,2.27,4.77,NaN,NaN,NaN
4,Lucknow,05/01/2015,NaN,NaN,2.32,12.27,4.22,NaN,13.34,169.48,20.60,2.49,4.78,NaN,NaN,NaN

In [193]:
df.tail()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
29526,Amritsar,27/06/2020,51.10,NaN,25.25,20.80,35.75,14.07,0.66,4.55,16.48,1.30,1.10,8.82,74.0,Satisfactory
29527,Amritsar,28/06/2020,45.24,40.00,23.11,17.90,27.47,13.25,0.63,5.22,16.48,1.16,0.98,7.85,85.0,Satisfactory
29528,Amritsar,29/06/2020,26.77,60.69,26.99,19.83,34.03,14.94,0.67,4.89,16.48,1.30,1.10,8.81,49.0,Good
29529,Amritsar,30/06/2020,41.64,76.49,22.03,15.97,30.60,13.29,0.69,4.67,16.48,1.30,1.10,8.72,66.0,Satisfactory
29530,Amritsar,01/07/2020,57.67,100.99,32.81,15.11,30.20,17.73,0.59,3.48,16.48,1.30,1.10,8.82,78.0,Satisfactory

In [194]:
df.dtypes

City           object
Date           object
PM2.5         float64
PM10          float64
NO            float64
NO2           float64
NOx           float64
NH3           float64
CO            float64
SO2           float64
O3            float64
Benzene       float64
Toluene       float64
Xylene        float64
AQI           float64
AQI_Bucket     object
dtype: object

In [195]:
df.columns

Index(['City', 'Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2',
       'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [197]:
df.isnull().sum()

City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

In [198]:
df.duplicated().sum()

np.int64(0)

1.5 Data Cleaning

In [199]:
df.shape

(29531, 16)

In [200]:
df.columns

Index(['City', 'Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2',
       'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [201]:
df.isnull().sum().sort_values(ascending=False)

Xylene        18109
PM10          11140
NH3           10328
Toluene        8041
Benzene        5623
AQI            4681
AQI_Bucket     4681
PM2.5          4598
NOx            4185
O3             4022
SO2            3854
NO2            3585
NO             3582
CO             2059
Date              0
City              0
dtype: int64

In [202]:
df.dtypes

City           object
Date           object
PM2.5         float64
PM10          float64
NO            float64
NO2           float64
NOx           float64
NH3           float64
CO            float64
SO2           float64
O3            float64
Benzene       float64
Toluene       float64
Xylene        float64
AQI           float64
AQI_Bucket     object
dtype: object

In [203]:
def missing_value_table(df):
        mis_val = df.isnull().sum()
        mis_val_per = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_per], axis=1)
        mis_val_table = mis_val_table.rename(columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table = mis_val_table[mis_val_table.iloc[:,1] != 0].sort_values('% of Total Values', ascending=False)
        return mis_val_table
missing_values = missing_value_table(df)
display(missing_values.style.background_gradient(cmap='Reds'))

1.6 Fix the data types for columns ( city & Date )

In [204]:
df['City'] = df['City'].astype('category')
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df.dtypes

City                category
Date          datetime64[ns]
PM2.5                float64
PM10                 float64
NO                   float64
NO2                  float64
NOx                  float64
NH3                  float64
CO                   float64
SO2                  float64
O3                   float64
Benzene              float64
Toluene              float64
Xylene               float64
AQI                  float64
AQI_Bucket            object
dtype: object

1.7 remove duplicates

In [205]:
df.duplicated().sum()

np.int64(1418)

In [206]:
df.drop_duplicates(inplace=True)

1.8 Save the cleaned version of the dataset to another folder in the google drive to ensure proper data management and to prevent re-reading or duplicating the raw files during future nuns. This also ensures the saved file is overwrite the previous one.

In [207]:
import os
os.makedirs(out_dir, exist_ok=True) #make sure the processed folder is created
output_files = os.path.join(out_dir, 'df_cleaned.csv') #define the output file path
df.to_csv(output_files, index=False)  #save the cleaned dataset
print("Cleaned Dataset saved successfully to" , output_files)

Cleaned Dataset saved successfully to /content/drive/MyDrive/Programming for Data Analysis/Assigment/processed/df_cleaned.csv