<a href="https://colab.research.google.com/github/jamalamro25/CMP7005_PRAC1_Jamalamro/blob/main/Final_Assignment_CMP7005_PRAC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Part 1 - Data Hanlding

1.1 Import data

In [142]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [143]:
%cd '/content/drive/MyDrive/Programming for Data Analysis/Assigment/Assessment Data-20251028'

/content/drive/MyDrive/Programming for Data Analysis/Assigment/Assessment Data-20251028

In [144]:
%ls

Ahmedabad_data.csv     Coimbatore_data.csv  Kolkata_data.csv
Aizawl_data.csv        Delhi_data.csv       Lucknow_data.csv
Amaravati_data.csv     Ernakulam_data.csv   Mumbai_data.csv
Amritsar_data.csv      Gurugram_data.csv    Patna_data.csv
Bengaluru_data.csv     Guwahati_data.csv    Shillong_data.csv
Bhopal_data.csv        Hyderabad_data.csv   Talcher_data.csv
Brajrajnagar_data.csv  Jaipur_data.csv      Thiruvananthapuram_data.csv
Chandigarh_data.csv    Jorapokhar_data.csv  Visakhapatnam_data.csv
Chennai_data.csv       Kochi_data.csv

1.2 import Python libraries

In [145]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1.3 combine the csv files into one dataset

In [185]:
drive_path = '/content/drive/MyDrive/Programming for Data Analysis/Assigment/Assessment Data-20251028'
out_dir = '/content/drive/MyDrive/Programming for Data Analysis/Assigment/processed'

In [147]:
dataframes = []
for filename in os.listdir(drive_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(drive_path, filename)
        df_temp = pd.read_csv(os.path.join(drive_path, filename))
        dataframes.append(df_temp)

In [148]:
df = pd.concat(dataframes, ignore_index=True)

In [150]:
print("Merged data shape:", df.shape)

Merged data shape: (29531, 16)

1.4 Understanding the dataset

In [151]:
df.shape

(29531, 16)

In [152]:
df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,24933.000000,18391.000000,25949.000000,25946.000000,25346.000000,19203.000000,27472.000000,25677.000000,25509.000000,23908.000000,21490.000000,11422.000000,24850.000000
mean,67.450578,118.127103,17.574730,28.560659,32.309123,23.483476,2.248598,14.531977,34.491430,3.280840,8.700972,3.070128,166.463581
std,64.661449,90.605110,22.785846,24.474746,31.646011,25.684275,6.962884,18.133775,21.694928,15.811136,19.969164,6.323247,140.696585
min,0.040000,0.010000,0.020000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,13.000000
25%,28.820000,56.255000,5.630000,11.750000,12.820000,8.580000,0.510000,5.670000,18.860000,0.120000,0.600000,0.140000,81.000000
50%,48.570000,95.680000,9.890000,21.690000,23.520000,15.850000,0.890000,9.160000,30.840000,1.070000,2.970000,0.980000,118.000000
75%,80.590000,149.745000,19.950000,37.620000,40.127500,30.020000,1.450000,15.220000,45.570000,3.080000,9.150000,3.350000,208.000000
max,949.990000,1000.000000,390.680000,362.210000,467.630000,352.890000,175.810000,193.860000,257.730000,455.030000,454.850000,170.370000,2049.000000

In [153]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Brajrajnagar,07/12/2017,171.38,311.68,NaN,41.07,NaN,7.78,3.26,5.83,4.69,0.0,NaN,NaN,NaN,NaN
1,Brajrajnagar,08/12/2017,126.67,192.81,NaN,20.16,NaN,7.97,2.94,5.43,10.51,0.0,NaN,NaN,304.0,Very Poor
2,Brajrajnagar,09/12/2017,105.11,154.39,NaN,18.40,NaN,8.15,2.83,5.10,10.33,0.0,NaN,NaN,291.0,Poor
3,Brajrajnagar,10/12/2017,65.25,99.73,NaN,15.21,NaN,7.90,2.74,4.75,8.37,0.0,NaN,NaN,189.0,Moderate
4,Brajrajnagar,11/12/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
df.tail()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
29526,Patna,27/06/2020,17.71,63.73,9.47,23.01,22.28,1.91,0.87,3.63,23.39,1.09,3.07,0.97,65.0,Satisfactory
29527,Patna,28/06/2020,19.27,57.42,30.19,18.13,36.76,2.05,0.72,3.92,17.37,1.18,2.90,1.24,82.0,Satisfactory
29528,Patna,29/06/2020,17.24,42.83,42.40,20.51,47.69,2.26,0.88,3.60,17.50,1.51,4.91,1.74,88.0,Satisfactory
29529,Patna,30/06/2020,29.76,60.68,42.12,27.50,52.04,1.59,0.83,3.91,21.70,1.58,8.59,2.02,93.0,Satisfactory
29530,Patna,01/07/2020,35.42,57.82,44.50,31.15,57.72,1.14,0.82,3.99,25.76,1.73,5.50,2.14,98.0,Satisfactory

In [155]:
df.dtypes

City           object
Date           object
PM2.5         float64
PM10          float64
NO            float64
NO2           float64
NOx           float64
NH3           float64
CO            float64
SO2           float64
O3            float64
Benzene       float64
Toluene       float64
Xylene        float64
AQI           float64
AQI_Bucket     object
dtype: object

In [156]:
df.columns

Index(['City', 'Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2',
       'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [158]:
df.isnull().sum()

City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

In [159]:
df.duplicated().sum()

np.int64(0)

1.5 Data Cleaning

Change the date datatype to datetie and fix the date issue after merge the files into one dataset

In [169]:
df['Date']= pd.to_datetime(df['Date'], errors='coerce', dayfirst=True)
print("Invalid dates :", df['Date'].isnull().sum())

df = df.sort_values(by=['City', 'Date']).reset_index(drop=True)
print(df['Date'].head(10))
print(df.dtypes['Date'])

Invalid dates : 0
0   2015-01-01
1   2015-01-02
2   2015-01-03
3   2015-01-04
4   2015-01-05
5   2015-01-06
6   2015-01-07
7   2015-01-08
8   2015-01-09
9   2015-01-10
Name: Date, dtype: datetime64[ns]
datetime64[ns]

In [173]:
df['Year']= df['Date'].dt.year
df['Month']= df['Date'].dt.month

In [174]:
df.shape

(29531, 18)

In [175]:
df.isnull().sum().sort_values(ascending=False)

Xylene        18109
PM10          11140
NH3           10328
Toluene        8041
Benzene        5623
AQI            4681
AQI_Bucket     4681
PM2.5          4598
NOx            4185
O3             4022
SO2            3854
NO2            3585
NO             3582
CO             2059
Date              0
City              0
Year              0
Month             0
dtype: int64

In [123]:
df.dtypes

City           object
Date           object
PM2.5         float64
PM10          float64
NO            float64
NO2           float64
NOx           float64
NH3           float64
CO            float64
SO2           float64
O3            float64
Benzene       float64
Toluene       float64
Xylene        float64
AQI           float64
AQI_Bucket     object
dtype: object

make sure no cities appear with mixed cases or hidden characters

In [124]:
df['City'].value_counts().head(20)

City
Mumbai                2009
Bengaluru             2009
Lucknow               2009
Ahmedabad             2009
Delhi                 2009
Chennai               2009
Hyderabad             2006
Patna                 1858
Gurugram              1679
Visakhapatnam         1462
Amritsar              1221
Jorapokhar            1169
Jaipur                1114
Thiruvananthapuram    1112
Amaravati              951
Brajrajnagar           938
Talcher                925
Kolkata                814
Guwahati               502
Coimbatore             386
Name: count, dtype: int64

In [125]:
df.duplicated().sum()

np.int64(0)

In [126]:
def missing_value_table(df):
        mis_val = df.isnull().sum()
        mis_val_per = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_per], axis=1)
        mis_val_table = mis_val_table.rename(columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table = mis_val_table[mis_val_table.iloc[:,1] != 0].sort_values('% of Total Values', ascending=False)
        return mis_val_table
missing_values = missing_value_table(df)
display(missing_values.style.background_gradient(cmap='Reds'))

Remove Spaces

In [176]:
df = df.apply(lambda x: x.str.strip() if x.dtype == 'object' else x)
print(" Extra spaces removed from the all columns")

 Extra spaces removed from the all columns

In [177]:
df['City'] = df['City'].astype(str).str.title()

In [180]:
df['City'] = df['City'].astype('category')
df.dtypes

City                category
Date          datetime64[ns]
PM2.5                float64
PM10                 float64
NO                   float64
NO2                  float64
NOx                  float64
NH3                  float64
CO                   float64
SO2                  float64
O3                   float64
Benzene              float64
Toluene              float64
Xylene               float64
AQI                  float64
AQI_Bucket            object
Year                   int32
Month                  int32
dtype: object

In [179]:
df.isnull().sum().sort_values(ascending=False)

Xylene        18109
PM10          11140
NH3           10328
Toluene        8041
Benzene        5623
AQI            4681
AQI_Bucket     4681
PM2.5          4598
NOx            4185
O3             4022
SO2            3854
NO2            3585
NO             3582
CO             2059
Date              0
City              0
Year              0
Month             0
dtype: int64

In [181]:
df.isnull().sum().sort_values(ascending=False)

Xylene        18109
PM10          11140
NH3           10328
Toluene        8041
Benzene        5623
AQI            4681
AQI_Bucket     4681
PM2.5          4598
NOx            4185
O3             4022
SO2            3854
NO2            3585
NO             3582
CO             2059
Date              0
City              0
Year              0
Month             0
dtype: int64

In [134]:
df.dtypes

City                category
Date          datetime64[ns]
PM2.5                float64
PM10                 float64
NO                   float64
NO2                  float64
NOx                  float64
NH3                  float64
CO                   float64
SO2                  float64
O3                   float64
Benzene              float64
Toluene              float64
Xylene               float64
AQI                  float64
AQI_Bucket            object
dtype: object

1.8 Save the cleaned version of the dataset to another folder in the google drive to ensure proper data management and to prevent re-reading or duplicating the raw files during future nuns. This also ensures the saved file is overwrite the previous one.

In [188]:
import os
os.makedirs(out_dir, exist_ok=True) #make sure the processed folder is created
output_files = os.path.join(out_dir, 'Cleaned_Dataset7005.csv') #define the output file path
df.to_csv(output_files, index=False)  #save the cleaned dataset
print("Cleaned Dataset saved successfully to" , output_files)

Cleaned Dataset saved successfully to /content/drive/MyDrive/Programming for Data Analysis/Assigment/processed/Cleaned_Dataset7005.csv

In [189]:
df.isnull().sum().sort_values(ascending=False)

Xylene        18109
PM10          11140
NH3           10328
Toluene        8041
Benzene        5623
AQI            4681
AQI_Bucket     4681
PM2.5          4598
NOx            4185
O3             4022
SO2            3854
NO2            3585
NO             3582
CO             2059
Date              0
City              0
Year              0
Month             0
dtype: int64

Handling missing values

In [190]:
df.isnull().sum().sort_values(ascending=False)

Xylene        18109
PM10          11140
NH3           10328
Toluene        8041
Benzene        5623
AQI            4681
AQI_Bucket     4681
PM2.5          4598
NOx            4185
O3             4022
SO2            3854
NO2            3585
NO             3582
CO             2059
Date              0
City              0
Year              0
Month             0
dtype: int64

In [192]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

df.replace(["", " ", "-" , "--","NA", "N/A", "na", "null", "None"], np.nan, inplace=True)

for col in df.columns:
    if df[col].dtype == 'object' and col not in ['City', 'AQI_Bucket', 'Date']:
        df[col] = pd.to_numeric(df[col], errors='coerce')

print('-' * 50)

special_numeric_cols = {"Xylene", "AQI", "PM10", "Toluene", "Benzene", "NH3"}
for col in ["PM10", "Toluene", "Benzene"]:
    if col in df.columns:
        med = df[col].median(skipna=True)
        df[col]= df[col].fillna(med) # Corrected inplace=True usage
        print(f"{col} column filled with median value")
        print('-' * 50)

if "NH3" in df.columns and "City" in df.columns and df["NH3"].isna().any():
    before = df["NH3"].isna().sum()

    predicators = [c for c in df.select_dtypes(include=[np.number]).columns if c not in ["NH3", "Xylene", "AQI"]]
    for city, grp in df.groupby("City"):
        train = grp.dropna(subset=predicators + ["NH3"]) # Ensure NH3 is not NaN for training
        test = grp[grp["NH3"].isna() & grp[predicators].notna().all(axis=1)] # Fixed: Added closing bracket ']'
        if len(train) >= 10 and len(test) > 0:
            model = LinearRegression()
            model.fit(train[predicators], train["NH3"])
            df.loc[test.index, "NH3"] = model.predict(test[predicators])

    df["NH3"] = df.groupby("City")["NH3"].transform(lambda x: x.fillna(x.median()))
    df["NH3"] = df["NH3"].fillna(df["NH3"].median()) # Corrected inplace=True usage
    after = df["NH3"].isna().sum()
    print(f"NH3 regression filled {before - after} values (with fallbacks).")

for col in df.select_dtypes(include=[np.number]).columns:
    if col not in special_numeric_cols and df[col].isna().any():
        mean_val = df[col].mean(skipna=True)
        df[col] = df[col].fillna(mean_val) # Corrected inplace=True usage
        print(f"{col}: column filled with mean value")

for col in ["Xylene", "AQI"]:
    if col in df.columns and df[col].isna().any():
        mean_val = df[col].mean(skipna=True)
        df[col] = df[col].fillna(mean_val) # Corrected inplace=True usage
        print(f"{col}: column filled with mean value")
print('-' * 50)

categorical_cols = ["City", "AQI_Bucket", "Date", "Year", "Month"]

for col in categorical_cols:
    if col in df.columns and df[col].isna().any():
        mode_val = df[col].mode()
        if not mode_val.empty:
            df[col] = df[col].fillna(mode_val[0]) # Corrected inplace=True usage
            print(f"{col}: column filled with mode value")
        else:
            print(f"{col}: no mode value found")

print(df.isnull().sum().sort_values(ascending=False).head(20)) # Fixed: Added closing parenthesis ')'

--------------------------------------------------
PM10 column filled with median value
--------------------------------------------------
Toluene column filled with median value
--------------------------------------------------
Benzene column filled with median value
--------------------------------------------------

/tmp/ipython-input-3197878262.py:25: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  for city, grp in df.groupby("City"):

NH3 regression filled 10328 values (with fallbacks).
PM2.5: column filled with mean value
NO: column filled with mean value
NO2: column filled with mean value
NOx: column filled with mean value
CO: column filled with mean value
SO2: column filled with mean value
O3: column filled with mean value
Xylene: column filled with mean value
AQI: column filled with mean value
--------------------------------------------------
AQI_Bucket: column filled with mode value
City          0
Date          0
PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
Xylene        0
AQI           0
AQI_Bucket    0
Year          0
Month         0
dtype: int64

/tmp/ipython-input-3197878262.py:33: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df["NH3"] = df.groupby("City")["NH3"].transform(lambda x: x.fillna(x.median()))

## Till here

EDA

In [193]:
df.isnull().sum().sort_values(ascending=False)

City          0
Date          0
PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
Xylene        0
AQI           0
AQI_Bucket    0
Year          0
Month         0
dtype: int64